/*
Tredje css dokumentet ämnat åt andra layout sidan som jag gjorde för att experimentera med en mer vertical orienterad layout
*/
img{
   max-width: 600px;
   max-height: 800px;
}
.Menubar a:hover{
   text-decoration: underline;
}
.Loga2{
   width: 80%;
   height: 100px;
   margin:25px 10%;
   margin-bottom: 76px;
   padding-top: 36px;
}
.Menubar a{
   color: black;
   text-decoration: none;
   font-size: larger;
}
#lanklista a{
   text-decoration: none;
   padding: 20px 60px;
   border: groove black 7px;
   border-radius: 10px;
   color: black;
}
.Loga:hover{
   background-image: url("bilder/dedpotato.jpg");
   background-size: contain;
   width: 180px;
   margin-right: 3%;
}
.Menubar > ul{
   margin: 0 auto;
   -webkit-padding-start: 0;
   list-style-type: none;
} 
body{
   background-color: lightgrey;
   font-family: 'Comic Sans MS', sans-serif, serif, fantasy;
}
h1:before{
   content:url("bilder/Gladgubbe.png");
}
.content{
   /*margin-left: 1%;*/
}
#vald{
   color: blue;
}
.content > p{
   margin-left: 2%;
   font-size: larger;
}
.post{
   margin: 0.8%;
   /*border: groove;*/
}
h1{
   padding-left: 3%;
   border-bottom: groove;
}
#menylista > li {
   padding: 15px 15px;
   display: list-item;
   background-color: lightblue;
   border-radius: 7px;
   text-align: center;
   margin-top: 15%;
}
#lanklista a:hover{
   background-color: lightblue;
   color: blue;
   border-color: blue;
}
#lanklista > li{
   display: inline-block;
   font-size: xx-large;
   margin: 7% 15%;
}
#lanklista{
   -webkit-padding-start: 0px;
}
a:active{
   color: blue;
}
a:visited{
   /*color: purple;*/
}
.therestofit {
   width: 78%;
   display: inline-block;
   float: right;
}
.container {
   /*width: 80%;*/
   background-color: white;
   border: black groove 7px;
   border-radius: 7px;
   margin-bottom: 10px;
}
#menylista ul{
   display: none;
   list-style: none;
   -webkit-padding-start: 0px;
}
#menylista li:hover ul{
   display: block;
}
iframe{
   border: groove grey 8px;
   border-radius: 7px;
   margin: 60px 8%;
}
#gaben{
   color: black;
   text-decoration: none;
}
.Loga{
   width: 88px;
   height: 100px;
   float: left;
   background-image: url("bilder/Potato.png");
   background-color: black;
   background-size: contain;
   margin-left: 8%;
}
.Menubar{
   /*height: 96%;*/
   width: 20%;
   display: inline-block;
   font-family: 'Comic Sans MS', sans-serif, serif, fantasy;
   font-weight: 900;
   position: fixed;
   /*top: -86px;*/
   background-color: white;
   /*outline: black groove 7px;*/
   border: groove black 7px;
   border-radius: 7px;
}