#backe {
	
}

@keyframes racerAnimation {
	from { top: 25%; }
	to { top: 75%; }
}

#racer{
	animation-name: racerAnimation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

body{
	width: 100%;
	background-color: white;
}

div{
	position:absolute;
	left:0;
	top:0;
	padding:10px;
}

p{
	text-align:center;
	font-size:40px;
	text-decoration:underline;
}

h4{
	text-align:center;
	font-size:34px;
}

.center {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}